.git
**/.git
.gitmodules
.env
.env.*
!.env.example
*.p8
*.pem
*.key
**/.DS_Store
**/node_modules
**/.expo
**/ios/build
**/android/.gradle
**/__pycache__
**/.pytest_cache
**/volume
**/volumes
**/logs
**/*.log
dream-rn-expo
dm-server/.git
dm-knowledge-service/.git
dm-knowledge-service/logs
dm-knowledge-service/**/__pycache__
dm-server/temp
dm-server/volume
dist
